.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-title {
  color: #4ddac0;
}

.about-text {
  color: #282828;
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
}

.about-icon {
  width: 30px;
  height: 30px;
}
