.container-portfolio-project1 {
    background-color: wheat;
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
}

.portfolio-project-text {
    color: #fff;
}

.card-project-modal {
    background: rgba(0, 0, 0, 0.589);
    color: #08a689;
}
