.container-skills {
    background: url(../assets/skillsbg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-title {
    background: rgba(0, 0, 0, 0.44);
    color: #ffffff;
    text-align: center;
}

li {
    list-style: none;
}

.skills-list {
    background: rgba(0, 0, 0, 0.44);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
}

.skills-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
